<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<rewrite>
	<rules>
		<rule name="article">
			<match url="^article-([0-9]+)/?$" />
			<action type="Rewrite" url="ask_article_detail.php?id={R:1}" />
		</rule>
		<rule name="list">
			<match url="^list-([0-9]+)/?$" />
			<action type="Rewrite" url="ask_article_list.php?cateId={R:1}" />
		</rule>
		<rule name="index">
			<match url="^index.htm/?$" />
			<action type="Rewrite" url="ask_article_list.php?cataId=" />
		</rule>
		<rule name="editor">
			<match url="^editor-([0-9]+)/?$" />
			<action type="Rewrite" url="ask_article_detail_editor.php?id={R:1}" />
		</rule>
		<rule name="del">
			<match url="^del-([0-9]+)/?$" />
			<action type="Rewrite" url="action/article_del.php?id={R:1}" />
		</rule>
		<rule name="category">
			<match url="^category/?$" />
			<action type="Rewrite" url="ask_article_category.php" />
		</rule>
	</rules>
</rewrite>
	
   </system.webServer> 	
</configuration>
