
.bs-navbar {
    background-color: #3aa9ff;
    border-color: #63b8f9
}

.bs-navbar .navbar-brand {
    color: #fff
}

.bs-navbar .navbar-nav>li>a {
    color: #d4eafc
}

.bs-head {
    background-color: #3aa9ff;
    text-align: left;
    padding: 50px 0
}

.bs-head h1 {
    font-size: 60px;
    color: #fff
}

.bs-head .lead {
    font-size: 30px;
    color: #e8eeff
}

.bs-footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 100px;
    color: #777;
    text-align: left;
    border-top: 1px solid #e5e5e5
}

.bs-footer p {
    margin-bottom: 0
}

.bs-sidebar {
    width: 180px;
    background-color: #f7f7f7;
    margin-top: 30px
}

.bs-sidebar.affix {
    position: fixed;
    top: 90px
}

.bs-sidebar .nav>.active>a {
    font-weight: bold;
    background-color: transparent;
    border-left: 1px solid #428bca
}

.page-header {
    margin: 40px 0 20px
}

.page-header h2 {
    padding-top: 80px;
    margin-top: -45px
}

.demo {
    text-align: center;
}

.demo p {
    font-size: 15px
}

.arrow {
    display: inline-block;
    overflow: hidden;
    border-left: 5px dashed transparent;
    border-bottom: 5px dashed transparent;
    border-right: 5px dashed transparent;
    border-top: 5px solid #fff;
    vertical-align: middle
}

.arrow2 {
    border-left: 5px dashed transparent;
    border-bottom: 5px dashed transparent;
    border-top: 5px dashed transparent;
    border-right: 5px solid #ccc
}

.arrow3 {
    border-top: 5px dashed transparent;
    border-bottom: 5px dashed transparent;
    border-right: 5px dashed transparent;
    border-left: 5px solid #ccc
}

.customBootstrap .pagination>li>a {
    margin-right: 5px;
    border-radius: 2px;
    background: #fff;
    color: #333;
    border-color: #ccc;
    padding: 6px 15px
}

.customBootstrap .pagination>li>a:hover,.customBootstrap .pagination>li>a:focus {
    color: #fff;
    background: #1E5B94;
    border-color: #1E5B94
}

.customBootstrap .pagination>.active>a,.customBootstrap .pagination>.active>a:hover,.customBootstrap .pagination>.active>a:focus {
    color: #fff;
    background: #1E5B94;
    border-color: #1E5B94;
}

.customBootstrap .pagination .arrow2 {
    margin: 3px 8px 5px 0
}

.customBootstrap .pagination a:hover .arrow2 {
    border-right-color: #fff
}

.customBootstrap .pagination .arrow3 {
    margin: 3px 0 5px 8px
}

.customBootstrap .pagination a:hover .arrow3 {
    border-left-color: #fff
}

.pagination2 {
    height: 30px;
    margin: 10px 0
}

.pagination2 a {
    text-decoration: none;
    border: solid 1px #c0d3e6;
    color: #333;
    border-left-width: 0;
    height: 24px!important
}

.pagination2 a {
    height: 24px!important;
    display: block;
    float: left;
    padding: 0 10px;
    text-align: center;
    line-height: 24px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05)
}

.pagination2 .active {
    background-color: #6babdd;
    color: #fff;
    padding: 0 10px;
    border: solid 1px #5c95c1
}

.pagination2 .prev {
    border: solid 1px #c0d3e6
}

.pagination2 .next {
    border-left-width: 0;
    border-right-width: 1px
}

.pagination2 .active.prev,.pagination2 .active.next {
    color: #dcdcdc;
    border-color: #efefef;
    background: #fff
}

.pagination2 a:hover {
    background-color: #cde4f8
}

.pagination2 .active:hover {
    background-color: #6babdd
}

.pagination2 a.disabled {
    display: none
}

.pagination4 .page a,.pagination4 .page a:hover {
    width: 100px;
    text-align: center;
    border: 1px solid #ddd;
    color: #999;
    background-color: #fff!important
}

pre code {
    background-color: transparent
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #428bca;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
